{% extends "base.html" %}

{% block content %}

    <script>
        function getJson() {
            console.log("button was pressed")
            document.getElementById("display-area").innerHTML = "Some text just magically appeared!!";
            console.log("end button command")
        }
    </script>


    <p>Note: this site is here just for testing purposes and does not do anything actual.</p>
    <p></p>
    <h2>Get Json</h2>
    <button type="button" id="json-getter" onclick="getJson()">Click Me!</button>

    <p id="display-area"></p>
    

{% endblock %}

